[submodule "assign/som-dom"]
	path = assign/som-dom
	url = https://github.com/deweycw/redox-DOM.git
[submodule "assign/mzwindow"]
	path = assign/mzwindow
	url = https://github.com/deweycw/mzwindow.git
